.main-layout {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  grid-template-rows: minmax(100px, 200px) 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  width: 100vw;
  height: 100vh;
}

.main-layout aside {
  grid-area: sidebar;
}

.main-layout header {
  grid-area: header;
}

.main-layout main {
  grid-area: main;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-search-input {
  color: #fff;
  background-color: #181734;
  padding-left: 20px;
  width: 300px;
  height: 40px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.main-body {
  width: 100%;
  height: inherit;
  background-color: #13112b;
}
